body {
  background: url(images/houndstooth-fabric-1575-in-architextures.jpg);
  background-size: 20%;
  width: 100%;
 		height: 100%;
  margin: 0;
  padding: 0;
 }

 #sky {
   background: linear-gradient(skyblue, orange, skyblue);
   width: 100%;
   height: 40%;
 }

 #sun {
   background: pink;
   border-radius: 50%;
   width: 110px;
   height: 110px;
   font-size: 80px;
   position: absolute;
   top: 50px;
   left: 50px;
 }

 #Costco-Logo {
   position: absolute;
   top: 40%;
   left: 30%;
 }