body {
  background: url(images/william-morris-chrysanthemum-textile-2185-in-architextures.jpg);
  background-size: 20%;
  width: 100%;
 		height: 100%;
  margin: 0;
  padding: 0;
 }

 #sky {
   background: linear-gradient(skyblue, orange, skyblue);
   width: 250%;
   height: 40%;
   position: absolute;
   z-index: 1;
 }

 #sun {
   background: pink;
   border-radius: 50%;
   width: 110px;
   height: 110px;
   font-size: 80px;
   position: absolute;
   top: 50px;
   left: 50px;
 }

   #Parkinglot {
    width: 90%;
    height: 1600px;
    background-color: gray;
    position: absolute;
    top: 80%;
    left: 15%;
  }

  #Costco {
    width: 300px;
    height: 200px;
    background-color: rgb(87, 67, 19);
    border: 5px solid rgb(126, 126, 126);
    position: absolute;
    top: 50%;
    left: 35%;
    z-index: 2;
  }
  
  #Costco-Logo {
    position: relative;
    top: -30%;
    left: -10%;
  }

  #door {
    font-size: 40px;
    position: relative;
    top: -47%;
    left: 40%;
  }

  #roof {
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 700px solid blueviolet;
    position: relative;
    top: -520%;
    left: 0%;
  }

  #star1 {
    font-size: 40px;
    position: relative;
    top: -630%;
    left: 70%;
  }
  #star2 {
    font-size: 40px;
    position: relative;
    top: -630%;
    left: 10%;
  }
  #star3 {
    font-size: 40px;
    position: relative;
    top: -790%;
    left: 35%;
  }

  #parking-sign {
    width: 150px;
    height: 100px;
    background-color: green;
    border: 3px solid white;
    border-radius: 10%;
    position: absolute;
    top: 73%;
    left: 40px;
    z-index: 20000;
  }
  #sign-text {
    font-size: 30px;
    color: white;
    position: relative;
    top: 20%;
    left: 10%;
  }
  #sign-stand1 {
    width: 10px;
    height: 100px;
    background-color: brown;
    position: absolute;
    top: 1200px;
    left: 50px;
  }
  #sign-stand2 {
    width: 10px;
    height: 100px;
    background-color: brown;
    position: absolute;
    top: 1200px;
    left: 170px;
  }
  #sign-hat {
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 200px solid blueviolet;
    position: relative;
    top: -298%;
    left: 0%;
  }
  #star4 {
    font-size: 30px;
    position: relative;
    top: -350%;
    left: 20%;
  }
  #star5 {
    font-size: 30px;
    position: relative;
    top: 10%;
    left: 50%;
  }
  #star6 {
    font-size: 30px;
    position: relative;
    top: -430%;
    left: 30%;
  }